body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-profile{
  width:40px;
  margin-right: 10px;
  border-radius: 14px;
  position: relative;
  top: 15px;
}
